.Catalogue {
  text-align: center;
  margin-right: 40%;
  margin-left: 40%;
  width: 350px;
  height: 400px;
  background: #1a2d4b;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 0px rgb(255, 255, 255);
  -webkit-transition: box-shadow 0.3s ease-out;
  box-shadow: 0.8px 0.9px 3px rgb(255, 255, 255);
}
.Catalogue:hover {
  box-shadow: 1px 8px 20px rgb(255, 255, 255);
  transform: scale(1.04);
  /* -webkit-transition: box-shadow 0.1s ease-in; */
}

.Link {
  text-decoration: none;
}

.CatalogueRow {
  background: #8599b4;
  box-shadow: 10px 10px 5px #1a2d4b;
}
